:root {
  --black: #000;
  --white: #fff;
  --gray-100: #00000010;
  --gray-400: #707070;
  --green: #00c950;
  --main-padding: 0 30px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

textarea,
button {
  all: unset;
}
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;
}
h1 {
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
}
h1 > span {
  font-size: 16px;
  padding: 0 0.2em;
  margin-bottom: 2px;
}

/*** main section1 ***/
main .section1 {
  display: flex;
  padding: 0 30px;
  font-size: 1.125rem;
}
main .section1 > div {
  width: 100%;
  padding: 12px;
  border-right: 1px solid var(--grar-400);
}
main .section1 div p:nth-child(1) {
  color: var(--green);
  font-weight: bold;
  font-size: 20px;
}
main .section1 div p:nth-child(2) {
  color: var(--gray-400);
  font-size: 14px;
}
.letterinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 0;
}
#letters{
  font-size: 24px;
}
#trim_letters{
  font-size: 24px;
}

/*** main section2 ***/
main .section2 {
  border-top: 1px solid var(--gray-100);
  margin-top: 20px;
  font-size: 1rem;
  box-shadow: inset rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
main .section2 textarea {
  box-sizing: border-box;
  padding: 20px 30px;
  height: 450px;
  width: 100%;
  word-break: break-all;
  border-bottom: 1px solid var(--gray-100);
}
textarea::selection {
  background-color: #02c95d30;
}

/* footer */
footer {
  margin-top: 30px;
  padding: 0 30px;
  font-size: 1.1rem;
}
footer > div {
  display: flex;
  height: 60px;
}
footer div  button {
  flex-basis: 100%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
#btn_copy {
  background-color: var(--green);
  color: var(--white);
}
#btn_remove {
  border: 1px solid var(--gray-400);
  color: var(--gray-400);
}
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #02c95d50;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

button:focus-visible {
  outline: 2px solid var(--green);
}

#user_input:focus-visible {
  outline: 2px solid var(--green);
}

/*** theme, theme switch ***/
.theme {
  display: flex;
  align-items: center;
  justify-content: end;
}

.switch {
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.switch.on .switch_wrap {
  background-color: var(--green);
}

.switch.on .switch_button {
  transform: translate(24px);
}

.switch_wrap {
  position: relative;
  box-sizing: border-box;
  width: 52px;
  height: 28px;
  border-radius: 28px;
  background-color: var(--gray-100);
  padding: 4px;
}

.switch_button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white);
  transition: 0.3s;
}

body.theme-dark {
  background-color: var(--black);
  color: var(--white);
}

body.theme-dark main .section2 {
  border-top-color: var(--gray-400);
  box-shadow: inset rgba(246, 246, 246, 0.1) 0 16px 10px -10px;
}

body.theme-dark main textarea {
  border-bottom-color: var(--gray-400);
}

body.theme-dark main textarea::selection {
  background-color: #02c95c4d;
}
